.event-details-container {
    position: fixed; /* Фиксированное позиционирование */
    top: 120px; /* Отступ сверху (на ваш выбор) */
    left: 50%; /* Центрирование по горизонтали */
    transform: translateX(-50%); /* Центрирование по горизонтали */
    background-color: #f5f5dc; /* Бежевый цвет */
    padding: 100px;
    border-radius: 10px;
    z-index: 1000; /* Поднимает элемент над остальным контентом */
    max-width: 600px;
}

.event-details-date {
    font-size: 24px; /* Размер шрифта для даты */
    margin-bottom: 20px; /* Отступ снизу */
}

.events-list {
    margin-top: 20px; /* Отступ над списком мероприятий */
}

.event-card {
    margin-bottom: 20px; /* Отступ между карточками мероприятий */
}

.event-card h3 {
    font-size: 18px; /* Размер шрифта для заголовка организатора */
    margin-bottom: 8px; /* Отступ снизу */
}

.event-card p {
    font-size: 14px; /* Размер шрифта для описания, времени и места */
    margin-bottom: 4px; /* Отступ снизу */
}

.no-events {
    font-style: italic; /* Курсивный шрифт для текста "На эту дату нет мероприятий." */
    color: #7c3aed; /*  цвет для текста "На эту дату нет мероприятий." */
    margin-top: 10px; /* Отступ сверху для текста "На эту дату нет мероприятий." */
}

.create-button {
    margin-top: 20px; /* Отступ над кнопкой "Создать" */
    background-color: #4CAF50; /* Зеленый цвет фона кнопки "Создать" */
    color: white; /* Белый цвет текста на кнопке "Создать" */
    border: none; /* Убираем границы кнопки "Создать" */
    padding: 10px 20px; /* Поля вокруг текста на кнопке "Создать" */
    font-size: 16px; /* Размер шрифта для кнопки "Создать" */
    cursor: pointer; /* Изменяем курсор при наведении на кнопку "Создать" */
    border-radius: 5px; /* Закругляем углы кнопки "Создать" */
    transition: background-color 0.3s; /* Плавное изменение цвета фона при наведении на кнопку "Создать" */
}

.create-button:hover {
    background-color: #45a049; /* Зеленый цвет фона кнопки "Создать" при наведении */
}

.create-button:active {
    background-color: #3e8e41; /* Зеленый цвет фона кнопки "Создать" при нажатии */
}
